section {
  padding: 5rem 5rem;
}

.container-country {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 218px;
  background-color:rgb(218 223 221);
  border-radius: 5px;
}

.country img {
  text-align: center;
  max-width: 218px !important;
  max-height: 128px !important;
}


.name {
  margin: 1.5rem 1rem;
  font-family: 'Arial';
}

.population {
  margin: 0rem 1rem;
  font-family: 'Arial';
}

.region {
  margin: 1rem 1rem;
  font-family: 'Arial';
}

.capital {
  margin: 0 0 2rem 1rem;
  font-family: 'Arial';
}